body {
	background-color: black !important;
}

img {
	max-width: 500px !important	;
	min-width: 10px !important;
}

h1 {
	font-family: calibri;
	text-decoration: underline;
	font-size: 50px;
}

h2 {
	font-family: calibri;
	text-decoration: underline;
}

h3{
	font-family: cambria;
}

h5 {
	font-style: italic;
	font-size: 0.8em;
	font-family: helvetica;
}

p {
	font-family: helvetica;
}

img {
	border: 1px solid black;
	margin-right: 10px; margin-bottom: 5px; margin-left: 0px;
	float: left;

}

img:hover {
	outline: 1px solid black;
}

.btn {
	background-color: white !important;
	color: black !important;
	font-family: calibri !important; 
	font-size: 25px !important;
	padding: 5px !important;
}

li .button {}

.header h1 {
	width: 100%;
	height: 10%;
	font-family: calibri;
	text-decoration: underline;
	font-size: 50px;
	text-align: center;
	color: white;
}

.header img {
    width: 5%;
    height: auto;
    border-radius: 50%;
    float: right;
}

.header img:hover {
	outline: 2px solid white;
}

.header ul li {
	display: inline-block !important;
	font-size: 30px;
	padding: 5px;
	margin: 10px;
}

.header hr {
	color: white;
}

.hobby1 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid yellow;
	margin: 30px;
}

.hobby1:hover {
	outline: 2px solid yellow !important;
}

#videogamesButton {
	border: 3px solid yellow !important;
}

#videogamesButton:hover {
	outline: 2px solid yellow !important;
}

.hobby2 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid #68C917;
	margin: 30px;
}

.hobby2:hover {
	outline: 2px solid #68C917;
}

#tvShowsButton {
	border: 3px solid #68C917 !important;
}

#tvShowsButton:hover {
	outline: 2px solid #68C917 !important;
}


.hobby3 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid #C9184E;
	margin: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby3:hover {
	outline: 2px solid #C9184E;
}

#programmingButton {
	border: 3px solid #C9184E !important;
}


#programmingButton:hover {
	outline: 2px solid #C9184E !important;
}



#languages {
	font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 95%;
    margin-bottom: 10px;
    opacity: 0.85;
}

#backToTopButton {
	border: 3px solid #0d6efd;
}

#backToTopButton:hover {
	outline: 2px solid #0d6efd !important;
}
