body {
	background-color: black !important;
}

img {
	max-width: 500px !important	;
	min-width: 10px !important;
}

h1 {
	font-family: calibri;
	text-decoration: underline;
	font-size: 50px;
}

h2 {
	font-family: calibri;
	text-decoration: underline;
}

h3{
	font-family: cambria;
}

h5 {
	font-style: italic;
	font-size: 0.8em;
	font-family: helvetica;
}

p {
	font-family: helvetica;
}

img {
	border: 1px solid black;
	margin-right: 10px; margin-bottom: 5px; margin-left: 0px;
	float: left;

}

.btn {
	background-color: white !important;
	color: black !important;
	font-family: calibri !important; 
	font-size: 25px !important;
	padding: 5px !important;
}

.header h1 {
	width: 100%;
	height: 10%;
	font-family: calibri;
	text-decoration: underline;
	font-size: 50px;
	text-align: center;
	color: white;
}

.header img {
    width: 5%;
    height: auto;
    border-radius: 50%;
    float: right;
}

.header ul li {
	display: inline-block !important;
	font-size: 30px;
	padding: 5px;
	margin: 10px;
}

.header hr {
	color: white;
}

.hobby1 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid yellow;
	margin: 30px;
}

.hobby1:hover {
	border: 7px solid yellow;
}

.hobby2 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid #68C917;
	margin: 30px;
}

.hobby2:hover {
	border: 7px solid #68C917;
}


.hobby3 {
	background-color: white;
	width: 95%;
	color: black;
	padding: 5px;
	border: 5px solid #C9184E;
	margin: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby3:hover {
	border: 7px solid #C9184E;
}



#languages {
	font-weight: bold;
}

.btn-primary {
	background-color:red;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 95%;
    margin-bottom: 10px;
    opacity: 0.85;
}
